.purple{
  color: $purple;
}

.bg-yellow{
  color: $yellow;
}

.is-bold{
  font-weight: bold;
}


.btn-purple{
  background: $purple;
  color: $white;
  border: 1px solid $purple;
  transition: all .5s ease;
  &:hover{
    background: lighten($purple, 7);
    color: $white;
  }
}
